.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.01fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "title description description"
      "items room room"
      "items room room";
}
  
.title { 
    grid-area: title;
}

.description {
    grid-area: description;
}

.room { 
    grid-area: room;
    border: 1px solid black;
    z-index: -999;
    padding:1em;

}

.room p {
    color: #ccc;
}

.items { 
    grid-area: items;
}

.items img {
    border: 1px solid #ccc;
} 

.items li {
    display: inline-block;
}

.image-thumb {
    width: 25vh;
    height: auto;
    display: inline-block;
    border: 1px solid #ccc;
    margin: 5px;
}

ul > li:nth-child(n+2):nth-child(-n+6) {display:none;}
ul > li:nth-child(8) {display:none;}
ul > li:nth-child(n+10):nth-child(-n+13) {display:none;}
ul > li:nth-child(n+15):nth-child(-n+18) {display:none;}
ul > li:nth-child(n+20) {display:none;}

.room img {
    border: 1px solid #ccc;
} 

.room li {
    display: inline-block;
}

#childbed img {
  display: inline;
  width: 50% !important;
  border: none !important;
}

#softtoys img {
    display: relative;
      width: 30% !important;
      border: none !important;
      float: right;
    }

@media only screen and (max-width:768px) and (min-width:200px) {

    body {
        margin: 1em;
    }

    .container {
        display: inline;
        overflow-x: hidden;  
    }

    .room {
        max-width: 100%;
        margin-top:2vh;
    }

    .room li {
        display: inline-block;
        width: 30%;
    }

   .heading {
        margin-left:5px;
   }

   .note {
        margin-left:5px;
   }
    
   ul {
    max-width: 100%;
   }

    .items li {
        display: inline-block;
        width: 30%;
    }
    
    img {
        display: inline-block;
    }

    .image {
        display: inline;
        border: 1px solid #ccc;
        padding: 5px;
    }

    #softtoys img {
        display: relative;
          width: 50% !important;
        }

    #childbed img {
        display: inline;
        width: 70% !important;
        padding-bottom: 10px;
            }


    .hover-title {
        float: right;
    }
  }
