.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.01fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "heading description description"
      "items1 room1 room1"
      "items2 room2 room2"
      ;
  }
  
.heading { grid-area: heading; }
.description { grid-area: description; }
.items1 { grid-area: items1; }
.items2 { grid-area: items2; }

/* bedroom */

.items1 img {
  border: 1px solid #ccc;
}

.items1 li {
  display: inline-block;
}

.items1 ul > li:nth-child(n + 4):nth-child(-n + 6) {display:none;}
.items1 ul > li:nth-child(n+12) {display:none;}
  
.room1 { 
  grid-area: room1;
  border: 1px solid black;
  padding: 0.5em;
}
  
.room1 p {
  color: #ccc;
  padding: 0.5em;
}

.room1 li {
  display: inline-block;
}

.room1 ul > li:nth-child(n + 4):nth-child(-n + 6) {display:none;}
.room1 ul > li:nth-child(n+12) {display:none;}

#table {
  display: block;
  width: 50%;
  padding-left: 10vw;
}



/* kitchen */ 

.items2 img {
  border: 1px solid #ccc;
}

.items2 p {
  color: #ccc;
  padding: 0.5em;
}

.items2 li {
  display: inline-block;
}

.items2 ul > li:nth-child(-n + 3) {display:none;}
.items2 ul > li:nth-child(n + 6):nth-child(-n + 13) {display:none;}
.items2 ul > li:nth-child(n+18) {display:none;}


.room2 { 
  grid-area: room2;
  border: 1px solid black;
  border-top: 0;
  z-index: -999;
  padding: 0.5em;
}
  
.room2 p {
  color: #ccc;
  padding: 0.5em;
}

.room2 li {
  display: inline-block;
}

.room2 ul > li:nth-child(-n + 3) {display:none;}
.room2 ul > li:nth-child(n + 6):nth-child(-n + 13) {display:none;}
.room2 ul > li:nth-child(n+18) {display:none;}

#mugs {
  display: block;
  float: right;
  width: 50%;
  padding-right: 10vw;
}

#crockpot {
  display: block;
  width: 50%;
  padding-right: 10vw;
}



.image {
  width: 25vh;
  height: auto;
  display: inline-block;
  border: 1px solid #ccc;
  margin: 5px;
}

img:hover{
  cursor: pointer;
  opacity: 0.5;
}


@media only screen and (max-width:768px) and (min-width:200px) {

  body {
    margin: 1em;
}

.container {
    display: inline;
    overflow-x: hidden;  
}

.room1 {
    border-top: 1px solid black;
    margin-bottom: 1em;
    
  }

.room2 {
  border-top: 1px solid black;
}

.room1 li {
  display: inline-block;
  width: 30%;
}

.room2 li {
  display: inline-block;
  width: 30%;
}

.heading {
  margin-left:5px;
}

.note {
  margin-left:5px;
}

ul {
max-width: 100%;
}

.items1 li {
  display: inline-block;
  width: 30%;
}

.items2 li {
  display: inline-block;
  width: 30%;
}

img {
  display: inline-block;
}

.image {
  display: inline;
  border: 1px solid #ccc;
  padding: 5px;
}

.hover-title {
  float: right;
}
}