.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.01fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "heading description description"
      "items1 room1 room1"
      "items2 room2 room2"
      ;
  }
  
.heading { grid-area: heading; }
.description { grid-area: description; }
.items1 { grid-area: items1; }
.items2 { grid-area: items2; }

/* bedroom */

.items1 img {
  border: 1px solid #ccc;
}
  
.room1 { 
  grid-area: room1;
  border: 1px solid black;
}
  
.room1 p {
  color: #ccc;
  padding: 1em;
}

#table {
  display: block;
  width: 50%;
  padding-left: 10vw;
}

.items1 li {
  display: inline-block;
}

.items1 ul > li:nth-child(n + 4):nth-child(-n + 6) {display:none;}
.items1 ul > li:nth-child(n+11) {display:none;}


/* kitchen */ 

.items2 img {
  border: 1px solid #ccc;
}

.room2 { 
  grid-area: room2;
  border: 1px solid black;
  border-top: 0;
  z-index: -999;
}
  
.room2 p {
    color: #ccc;
    padding: 1em;
}

.items2 li {
  display: inline-block;
}

.items2 ul > li:nth-child(-n + 3) {display:none;}
.items2 ul > li:nth-child(n + 6):nth-child(-n + 13) {display:none;}
.items2 ul > li:nth-child(n+18) {display:none;}


.image {
  width: 25vh;
  height: auto;
  display: inline-block;
  border: 1px solid #ccc;
  margin: 5px;
}

img:hover{
  cursor: pointer;
  opacity: 0.5;
}


@media only screen and (max-width:768px) and (min-width:200px) {

  .container {
      display: block;
  }

  .room1 {
      height: 50vh;
      border-top: 1px solid black;
  }

  .room2 {
    height: 50vh;
    border-top: 1px solid black;
}

  img {
      display: inline-block;
      width: 74px;
      padding: 0;
      margin: 8px;

  }
  
}