@font-face {
    font-family: "Helvetica Neue";
    src: url(/assets/fonts/helveticaneue.ttc);
}

:root {
    --web-margin: 2em;
    --large-heading: 2.2em;
    --body-copy: 1.2em;
}

body {
    margin: var(--web-margin);
}

img {
    margin-bottom: -5px;
}

h1, h2, p {
    font-family: 'helveticaneue', sans-serif;
}

h1 {
    font-size: var(--large-heading);
    font-weight: 500;
}

p {
    font-size: var(--body-copy);
    line-height: 1.2em;
    margin-bottom: 1em;
}