.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.01fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "title description description"
      "items1 room1 room1"
      "items2 room2 room2"
      "items3 room3 room3"
      "items4 room4 room4";
  }
  
  .title { grid-area: title; }
  .description { grid-area: description; }
  .items1 { grid-area: items1; }
  .items2 { grid-area: items2; }
  .items3 { grid-area: items3; }
  .items4 {grid-area:items4;}

  /* bedroom */ 

  .items1 img {
    border: 1px solid #ccc;
  }

  .items1 li {
    display: inline-block;
  }

.items1 ul > li:nth-child(n + 4):nth-child(-n + 7) {display:none;}
.items1 ul > li:nth-child(n+10) {display:none;}

  .room1 { 
    grid-area: room1;
    border: 1px solid black;
}
  
.room1 p {
    color: #ccc;
    padding: 1em;
}

/* living room */ 
  .items2 img {
    border: 1px solid #ccc;
  }

  .items2 li {
    display: inline-block;
  }

  .items2 ul > li:nth-child(n + 1):nth-child(-n + 9) {display:none;}
  .items2 ul > li:nth-child(n+14) {display:none;}

  .room2 { 
    grid-area: room2;
    border: 1px solid black;
    border-top: 0;
}
  
  .room2 p {
    color: #ccc;
    padding: 1em;
}

.items3 img {
  border: 1px solid #ccc;
}

.items3 li {
  display: inline-block;
}

.items3 ul > li:nth-child(n + 1):nth-child(-n + 13) {display:none;}
.items3 ul > li:nth-child(n+19) {display:none;}

.room3 {
    grid-area: room3;
    border: 1px solid black;
    border-top: 0;
}

.room3 p {
    color: #ccc;
    padding: 1em;
}

.items4 img {
  border: 1px solid #ccc;
}

.items4 li {
  display: inline-block;
}

.items4 ul > li:nth-child(n + 1):nth-child(-n + 5) {display:none;}
.items4 ul > li:nth-child(n + 8):nth-child(-n + 18) {display:none;}
.items4 ul > li:nth-child(n+21) {display:none;}

.room4 {
  grid-area: room4;
  border: 1px solid black;
  border-top: 0;
  z-index: -999;
}

.room4 p {
  color: #ccc;
  padding: 1em;
}

img {
    display: inline-block;
    width: 200px;
    margin: 0.5em;
}

@media only screen and (max-width:768px) and (min-width:200px) {

  .container {
      display: block;
  }

  .room1 {
      height: 50vh;
      border-top: 1px solid black;
  }

  .room2 {
    height: 50vh;
    border-top: 1px solid black;
}

.room3 {
  height: 50vh;
  border-top: 1px solid black;
}

.room4 {
  height: 50vh;
  border-top: 1px solid black;
}

  img {
      display: inline-block;
      width: 74px;
      padding: 0;
      margin: 8px;

  }
  
}