.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.5fr 1fr 1fr;; 
    gap: 0px 0px; 
    grid-template-areas: 
      "title description description"
      "box-1 box-2 box-3"
      "box-4 box-5 box-6"; 
  }

  .title { grid-area: title; }
  .description { grid-area: description; }
  .box-1 { grid-area: box-1; }
  .box-2 { grid-area: box-2; }
  .box-3 { grid-area: box-3; }
  .box-4 { grid-area: box-4; }
  .box-5 { grid-area: box-5; }
  .box-6 { grid-area: box-6; }

  .channel-owner {
    display: inline;
    font-size: 2em;
  }
  .channel-collaborator{
    display: inline;
    font-size: 2em;
  }

@media only screen and (max-width:768px) and (min-width:200px) {
  
  body {
    margin: 1em;
  }

  .container {
    display: block;
  }

  .description {
    padding-bottom: 40px;
  }

}