.container { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.01fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "heading note note"
      "items room room"
      "items room room";
}
  
.heading { 
    grid-area: heading;
}

.note {
    grid-area: note;
}

.room { 
    grid-area: room;
    border: 1px solid black;
    z-index: -999;
    margin-left: 5px;
    margin-right: 5px;

}

.room p {
    color: #ccc;
    padding: 1em;
}

.items { 
    grid-area: items;
}

#pennant {
    display: inline;
    float:right;
    width: 400px;
}

.items li {
    display: inline-block;
}

.image {
    height: 200px;
    max-width: 400px;
    display: inline;
    border: 1px solid #ccc;
    margin: 5px;
}


/* Hide meta-data for images */ 
.title {
    display: none;
    position:block;
    font-family: 'Helvetica Neue', sans-serif;
    text-overflow: ellipsis;
    font-size: 0.8em;
}

img:hover{
    cursor: pointer;
    opacity: 0.5;
}


.link {display: none;}
.link-title {display: none;}

  
@media only screen and (max-width:768px) and (min-width:200px) {

    .container {
        display: block;
    }

    .room {
        height: 50vh;
    }

    img {
        display: inline-block;
        width: 74px;
        padding: 0;
        margin: 8px;

    }
    
  }