.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.01fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "title description description"
      "items1 room1 room1"
      "items2 room2 room2"
      "items3 room3 room3"
      "items4 room4 room4";
  }
  
  .title { grid-area: title; }
  .description { grid-area: description; }
  .items1 { grid-area: items1; }
  .items2 { grid-area: items2; }
  .items3 { grid-area: items3; }
  .items4 {grid-area:items4;}


  .image-thumb {
    width: 25vh;
    height: auto;
    display: inline-block;
    border: 1px solid #ccc;
    margin: 5px;
  }
  
/* bedroom */ 

.items1 img {border: 1px solid #ccc;}
.items1 li {display: inline-block;}
.items1 ul > li:nth-child(n + 3):nth-child(-n + 22) {display:none;}
.items1 ul > li:nth-child(n+25) {display:none;}

.room1 { 
    grid-area: room1;
    border: 1px solid black;
    padding:1em;

}
  
.room1 p {
    color: #ccc;
}

.room1 img {border: 1px solid #ccc;}
.room1 li {display: inline-block;}
.room1 ul > li:nth-child(n + 3):nth-child(-n + 22) {display:none;}
.room1 ul > li:nth-child(n+25) {display:none;}


/* living room */ 
  .items2 img {border: 1px solid #ccc;}
  .items2 li {display: inline-block;}
  .items2 ul > li:nth-child(n + 1):nth-child(-n +25) {display:none;}
  .items2 ul > li:nth-child(n+30) {display:none;}

  .room2 { 
    grid-area: room2;
    border: 1px solid black;
    border-top: 0;
    padding:1em;

}
  
  .room2 p {
    color: #ccc;
}

.room2 img {border: 1px solid #ccc;}
.room2 li {display: inline-block;}
.room2  ul > li:nth-child(n + 1):nth-child(-n +25) {display:none;}
.room2  ul > li:nth-child(n+30) {display:none;}


.items3 img {border: 1px solid #ccc;}
.items3 li {display: inline-block;}
.items3 ul > li:nth-child(n + 1):nth-child(-n + 13) {display:none;}
.items3 ul > li:nth-child(n+19) {display:none;}

.room3 {
    grid-area: room3;
    border: 1px solid black;
    border-top: 0;
    padding:1em;

}

.room3 p {
    color: #ccc;
}

.room3 img {border: 1px solid #ccc;}
.room3 li {display: inline-block;}
.room3 ul > li:nth-child(n + 1):nth-child(-n + 13) {display:none;}
.room3 ul > li:nth-child(n+19) {display:none;}

.items4 img {
  border: 1px solid #ccc;
}

.items4 li {
  display: inline-block;
}

.items4 ul > li:nth-child(n + 1):nth-child(-n + 18) {display:none;}
.items4 ul > li:nth-child(n + 21):nth-child(-n + 29) {display:none;}
.items4 ul > li:nth-child(n+33) {display:none;}

.room4 {
  grid-area: room4;
  border: 1px solid black;
  border-top: 0;
  z-index: -999;
  padding:1em;

}

.room4 p {
  color: #ccc;
}

.room4 img {border: 1px solid #ccc;}
.room4 li {display: inline-block;}
.room4 ul > li:nth-child(n + 1):nth-child(-n + 5) {display:none;}
.room4 ul > li:nth-child(n + 8):nth-child(-n + 18) {display:none;}
.room4 ul > li:nth-child(n+21) {display:none;}

@media only screen and (max-width:768px) and (min-width:200px) {

  body {
    margin: 1em;
}

.container {
  display: inline;
  overflow-x: hidden;  
}

  .room1 {
      border-top: 1px solid black;
      margin-bottom:1em;
  }

  .room2 {
    border-top: 1px solid black;
    margin-bottom:1em;
  }

  .room3 {
    border-top: 1px solid black;
    margin-bottom:1em;
  }

  .room4 {
    border-top: 1px solid black;
    margin-bottom:1em;
  }

  .items1 li {
    display: inline-block;
    width: 30%;
  }
  
  .items2 li {
    display: inline-block;
    width: 30%;
  }

  .items3 li {
    display: inline-block;
    width: 30%;
  }

  .items4 li {
    display: inline-block;
    width: 30%;
  }

  .room1 li {
    display: inline-block;
    width: 30%;
  }
  .room2 li {
    display: inline-block;
    width: 30%;
  }
  .room3 li {
    display: inline-block;
    width: 30%;
  }
  .room4 li {
    display: inline-block;
    width: 30%;
  }
  img {
    display: inline-block;
  }
  
  .image {
    display: inline;
    border: 1px solid #ccc;
    padding: 5px;
  }

  .hover-title {
    float: right;
  }

}